@{
    int pageCount = ViewBag.PageCount != null ? (int)ViewBag.PageCount : 0;
    int currPage = ViewBag.CurrPage != null ? (int)ViewBag.CurrPage : 0;

    int startPage = 1;
    int endPage = pageCount;
}
<head>
    <link rel="stylesheet" href="./css/home.css" />
</head>
<div class="container">
    <div class="slide-show">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="./img/slider1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="./img/slider2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./img/slider3.png" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="mb-3 fs-6 fw-bold">
        <i class="fa-solid fa-house"></i>
        Trang chủ
    </h1>

    <div class="sort-product">
        <label for="">Lọc danh sách:</label>

        <ul class="sort-product_list">
            <li class="sort-product_item">
                <span>
                    Thương hiệu
                    <i class="fa-solid fa-angle-down"></i>
                </span>
                <div class="product-dropdown h-auto">
                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Apple</button>
                        </li>
                        <li>
                            <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Sam Sung</button>
                        </li>
                        <li>
                            <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Oppo</button>
                        </li>
                    </ul>

                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Nokia</button>
                        </li>
                        <li>
                            <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Vivo</button>
                        </li>
                        <li>
                            <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Xiaomi</button>
                        </li>
                    </ul>

                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Realmi</button>
                        </li>
                        <li>
                            <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Huawei</button>
                        </li>
                    </ul>
                </div>
            </li>


            <li class="sort-product_item">
                <span>
                    Giá
                    <i class="fa-solid fa-angle-down"></i>
                </span>
                <div class="product-dropdown h-auto">
                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <button class="product-dropdown-price product-dropdown_btn bg-transparent border-0">Dưới 1 triệu</button>
                        </li>
                        <li>
                            <button class="product-dropdown-price product-dropdown_btn bg-transparent border-0">1-4 triệu</button>
                        </li>
                        <li>
                            <button class="product-dropdown-price product-dropdown_btn bg-transparent border-0">4-8 triệu</button>
                        </li>

                    </ul>

                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <button class="product-dropdown-price product-dropdown_btn bg-transparent border-0">8-12 triệu</button>
                        </li>
                        <li>
                            <button class="product-dropdown-price product-dropdown_btn bg-transparent border-0">12-16 triệu</button>
                        </li>
                        <li>
                            <button class="product-dropdown-price product-dropdown_btn bg-transparent border-0">16-20 triệu</button>
                        </li>

                    </ul>

                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <button class="product-dropdown-price product-dropdown_btn bg-transparent border-0">20-100 triệu</button>
                        </li>

                        <li>
                            <button class="product-dropdown-price product-dropdown_btn bg-transparent border-0">Trên 100 triệu</button>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="sort-product_item">
                <span class="product-dropdown-discount">Khuyến mại</span>
            </li>

            <li class="sort-product_item">
                <span>
                    Sắp xếp
                    <i class="fa-solid fa-angle-down"></i>
                </span>
                <div class="product-dropdown h-auto" style="min-width: 152px">
                    <ul class="product-dropdown_list list-unstyled">
                        <li>
                            <button class="product-dropdown-sort product-dropdown_btn bg-transparent border-0">Mặc định</button>
                        </li>
                        <li>
                            <button class="product-dropdown-sort product-dropdown_btn bg-transparent border-0">Sản phẩm mới</button>
                        </li>
                        <li>
                            <button class="product-dropdown-sort product-dropdown_btn bg-transparent border-0">Sản phẩm cũ</button>
                        </li>
                        <li>
                            <button class="product-dropdown-sort product-dropdown_btn bg-transparent border-0">Giá cao đến thấp</button>
                        </li>
                        <li>
                            <button class="product-dropdown-sort product-dropdown_btn bg-transparent border-0">Giá thấp đến cao</button>
                        </li>
                    </ul>

                </div>
            </li>

        </ul>

    </div>
    <!-- for mobile -->
    <ul class="sort-product-mb text-center p-0 list-unstyled allow-scroll">

        <li class="sort-product-mb_item btn btn-success" style="height: 36px;" onclick="dropdown();">
            <span>
                Thương hiệu
                <i class="fa-solid fa-caret-down"></i>
            </span>

        </li>
        <li class="sort-product-mb_item">
            <button class="sort-product-mb_btn btn btn-success border-0 product-dropdown-sort">Mới nhất</button>
        </li>

        <li class="sort-product-mb_item">
            <button class="sort-product-mb_btn btn btn-success border-0 product-dropdown-discount">Khuyến mại</button>
        </li>

        <li class="sort-product-mb_item">
            <button class="sort-product-mb_btn btn btn-success border-0 product-dropdown-sort">Giá thấp</button>
        </li>

        <li class="sort-product-mb_item">
            <button class="sort-product-mb_btn btn btn-success border-0 product-dropdown-sort">Giá cao</button>
        </li>


    </ul>
    <div class="product-dropdown-mb product-dropdown">
        <ul class="product-dropdown_list list-unstyled">
            <li>
                <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Apple</button>
            </li>
            <li>
                <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Sam Sung</button>
            </li>
            <li>
                <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Oppo</button>
            </li>
        </ul>

        <ul class="product-dropdown_list list-unstyled">
            <li>
                <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Nokia</button>
            </li>
            <li>
                <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Vivo</button>
            </li>
            <li>
                <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Xiaomi</button>
            </li>
        </ul>

        <ul class="product-dropdown_list list-unstyled">
            <li>
                <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Realmi</button>
            </li>
            <li>
                <button class="product-dropdown-brand product-dropdown_btn bg-transparent border-0">Huawei</button>
            </li>
        </ul>
    </div>
    <!--  -->
    <div class="products">
        <h2 class="products_title fw-bold">Danh sách sản phẩm</h2>
        <div id="list-product" class="row gy-3">
            <partial name="ListProduct" />
        </div>
    </div>


</div>
<div class="page">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item previous">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item pagniation-item">
                    <a class="page-link" href="">@i</a>
                </li>
            }
            <li class="page-item next">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
@section Scripts{
    <script>
        function dropdown() {
            $(".product-dropdown").toggleClass("d-flex")
            $(".sort-product-mb").toggleClass("allow-scroll")
            $(".sort-product-mb").toggleClass("remove-scroll")
        }

        $(".product-dropdown-brand").click(function () {
            var brand = $(this).text();
            console.log(brand)
            $.ajax({
                url: "/",
                data: { brand: brand },
                success: function (response) {
                    //$("#list-product").html(response);
                }
            })
        })

        $(".product-dropdown-price").click(function () {
            var price = $(this).text();
            console.log(price)
            $.ajax({
                url: "/",
                data: { price: price },
                success: function (response) {
                    //$("#list-product").html(response);
                }
            })
        })

        $(".product-dropdown-discount").click(function () {
            var discount = $(this).text();
            console.log(discount)
            $.ajax({
                url: "/",
                data: { discount: discount },
                success: function (response) {
                    //$("#list-product").html(response);
                }
            })
        })

        $(".product-dropdown-sort").click(function () {
            var sort = $(this).text();
            console.log(sort)
            $.ajax({
                url: "/",
                data: { sort: sort },
                success: function (response) {
                    //$("#list-product").html(response);
                }
            })
        })

        function getDataPage(page) {
            $.ajax({
                url: "/ListProduct",
                data: { page },
                success: function (result) {
                    $('#list-product').html(result);
                }
            })
        }

        $(".pagniation-item .page-link").click(function (event) {
            event.preventDefault();
            var page = $(this).text();
            getDataPage(page);
        })

        $(".page-item.previous .page-link").click(function (event) {
            event.preventDefault();
            var page = $(".page-item.previous + .pagniation-item .page-link").text();
            getDataPage(--page);
        })
        $(".page-item.next .page-link").click(function (event) {
            event.preventDefault();
            var page = $(".page-item.next").prev().text();
            getDataPage(++page);
        })

        $("document").ready(() => {
            getDataPage(1);
        })

    </script>
}

