
<head>
    <link href="./css/order.css" rel="stylesheet" type="text/css">
</head>
<section>
    <div class="container">
        <div class="check-bill col-12">
            <div class="check-order-index">
                <div class="check-order-form text-center">
                    <h1>Kiểm tra đơn hàng của bạn</h1>
                    <form>
                        <div class="input">
                            <input class="rounded bg-secondary-subtle border-0 py-1 px-3 fs-18px" style="min-width: 400px; outline:none" type="text" id="OrderID" name="OrderID" title="Mã đơn hàng" placeholder="Vui lòng nhập mã đơn hàng" data-required="1">
                        </div>
                        <div class="button mt-3">
                            <button class="border-0 fs-6 px-3 py-2 rounded text-dark fw-bold bg-info shadow" type="submit">TRA CỨU</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row gy-3 mt-2">
                <div class="bill col-12 align-items-center border boder-dark rounded py-3 d-flex">
                    <div class="col-2 bill__code text-center">
                        <p class="text-danger fw-bold mb-0">Mã đơn:</p>
                        QWERYGHFGFGH
                    </div>
                    <div class="col-2 bill__status text-center">
                        <p class="text-danger fw-bold mb-0">Tình trạng:</p>
                        Đang giao
                    </div>
                    <div class="col-8 bill__info">
                        <div class="row align-items-center">
                            <div class="bill__product col-8 d-flex align-items-center justify-content-center">
                                <div class="bill__img">
                                    <img src="./img/iphone_15_pink.png" alt="" class="object-fill mw-100 mh-100">
                                </div>
                                <div class="bill__name text-center">
                                    <p class="text-danger fw-bold mb-0">Tên sản phẩm:</p>
                                    IPhone 15 Vjp Promax
                                </div>
                            </div>
                            <div class="bill__value col-4 text-left">
                                <div class="bill__quantity">
                                    <span class="text-danger fw-bold">Số lượng:</span>
                                    2
                                </div>
                                <div class="bill__money">
                                    <span class="text-danger fw-bold">Thành tiền: </span>
                                    1000000VND
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bill col-12 align-items-center border boder-dark rounded py-3 d-flex">
                    <div class="col-2 bill__code text-center">
                        <p class="text-danger fw-bold mb-0">Mã đơn:</p>
                        QWERYGHFGFGH
                    </div>
                    <div class="col-2 bill__status text-center">
                        <p class="text-danger fw-bold mb-0">Tình trạng:</p>
                        Đang giao
                    </div>
                    <div class="col-8 bill__info">
                        <div class="row align-items-center">
                            <div class="bill__product col-8 d-flex align-items-center justify-content-center">
                                <div class="bill__img">
                                    <img src="./img/iphone-15-pro-max-blue-titanium-pure-back-iphone-15-pro-max-blue-titanium-pure-front-2up-screen-usen.png" alt="" class="object-fill mw-100 mh-100">
                                </div>
                                <div class="bill__name text-center">
                                    <p class="text-danger fw-bold mb-0">Tên sản phẩm:</p>
                                    IPhone 15 Super Vjp Promax
                                </div>
                            </div>
                            <div class="bill__value col-4 text-left">
                                <div class="bill__quantity">
                                    <span class="text-danger fw-bold">Số lượng:</span>
                                    2
                                </div>
                                <div class="bill__money">
                                    <span class="text-danger fw-bold">Thành tiền: </span>
                                    1000000VND
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="bill--empty mt-5 fs-2 text-center fst-italic d-none" style="opacity: 0.7;">
                Chưa có đơn hàng nào
            </div>
        </div>
    </div>
</section>